@font-face {
  font-family: "iconfont"; /* Project id 4039007 */
  src: url('iconfont.woff2?t=1682427296829') format('woff2'),
       url('iconfont.woff?t=1682427296829') format('woff'),
       url('iconfont.ttf?t=1682427296829') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-map:before {
  content: "\e610";
}

.icon-post:before {
  content: "\e687";
}

.icon-tel:before {
  content: "\e60f";
}

