@font-face {
  font-family: "iconfont"; /* Project id 4151868 */
  src: url('iconfont.woff2?t=1689215511627') format('woff2'),
       url('iconfont.woff?t=1689215511627') format('woff'),
       url('iconfont.ttf?t=1689215511627') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantou_xiangyou:before {
  content: "\eb08";
}

.icon-jiantou_xiangzuo:before {
  content: "\eb09";
}

