@font-face {
  font-family: Oblique;
  src: local("Oblique"),
    url("@/assets/font/SmileySans-Oblique-2.ttf") format("truetype");
}

@font-face {
  font-family: douyuFont;
  src: local("douyuFont"), url("@/assets/font/douyuFont-2.otf");
}

@font-face {
  font-family: Alibaba;
  src: local("Alibaba"), url("@/assets/font/AlibabaPuHuiTi-3-85-Bold.ttf");
}
